node_modules/
.env
.env.*
backups/
/certs/
reports/
*.backup
*.backup2
.DS_Store

# Local-only
.env
.gcp-sa.json
uploads/
idempotencyKey

# Node modules
mymoolah-wallet-frontend/node_modules/

# Binary files
cloud-sql-proxy
bin/cloud-sql-proxy
*.exe
*.dmg
*.pkg
actions
chemaname = public
